:root {
  --bcgcolor: #0e0c13;
  --textcolor: #ffffff;
  --accent: #f8a100;
  --textdecoration: #cfdbe9;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
p,
ul [class],
li {
  margin-top: 0;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

body {
  font-family: "Roboto Condensed", sans-serif;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--textcolor);
  background-color: var(--bcgcolor);
}

.container {
  width: 1170px;
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.link {
  text-decoration: none;
  color: var(--textdecoration);
}

.link:hover,
.link:focus {
  color: var(--accent);
}

/*Код шапки*/
.header {
  border-bottom: 1px solid #f8a100;
}

.navigation {
  display: flex;
  align-items: center;
  margin-right: auto;
  justify-content: space-between;
}

.logo {
  margin-top: 24px;
  margin-right: 94px;
  margin-bottom: 25px;
  font-family: "Grenze Gotisch", cursive;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  color: var(--accent);
}

.logo-white {
  font-family: "Grenze Gotisch", cursive;
  font-size: 26px;
  line-height: 1.19;
  color: var(--textdecoration);
}

.menu {
  display: inline-flex;
}

.menu-item {
  font-size: 18px;
  line-height: 1.2;
}

.menu-item:not(:last-child) {
  margin-right: 50px;
}

/* Код героя*/

.container-hero {
  padding-top: 10%;
  padding-left: 10%;
  max-width: 100%;
  height: 300px;
}

.hero {
  color: var(--bcgcolor);
}

.hero-name {
  font-size: 56px;
  line-height: 1.25;
  color: var(--accent);
  text-shadow: #0e0c13 1px 1px 0, #0e0c13 2px 2px 0, #0e0c13 3px 3px 0,
    #0e0c13 4px 4px 0, #0e0c13 5px 5px 0;
}

.hero-text {
  font-size: 32px;
  line-height: 1.2;
  font-weight: 400;
  font-weight: bold;
  color: var(--textdecoration);
  text-shadow: #0e0c13 1px 1px 0, #0e0c13 2px 2px 0, #0e0c13 3px 3px 0,
    #0e0c13 4px 4px 0, #0e0c13 5px 5px 0;
}

.logoimg {
  background-color: var(--accent);
  background-image: radial-gradient(
      circle,
      rgba(75, 75, 82, 0.04805672268907568) 2%,
      rgba(0, 0, 0, 0.5578606442577031) 85%
    ),
    url(../images/index/hero3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
  background-position: 50% 50%;
  height: 600px;
}

/*Обо мне*/

.aboutme {
  display: flex;
  justify-content: center;
  margin-top: 64px;
}

.heading {
  text-align: center;
}
